.top-bar {
    background-color: #990000;
    min-height: 30px;
}
.bottom-bar {
    background-color: #cc3333;
    min-height: 90px;
}
a , a:active, a:visited{
    color: white;
}

a:hover
{
	color:red;
}
h1 {
    color: white;
    width: 50px;
}
.logo {
    font-size: 40px;
    padding-top: 10px;
    color: white;
}
ul.welcome {
    padding-top: 5px;
}
.welcome li {
    display: inline-block;
    padding-left: 10px;
}
.welcome li a {
    font-weight: bold;
}
.social li {
    padding-top: 10px;
    display: inline-block;
    padding-left: 15px;
}
ul.social {
    margin-top: 12px;
}
ul.social a {
    font-size: 20px;
}
.search-button {
    margin-left: 10px;
    background-color: #990000;
    min-height: 30px;
    min-width: 50px;
    margin-top: 25px;
    z-index: 1000;
}
.fa-search
{
	padding-top:8px;
	padding-left:15px;
}
.search-box {
    margin-top: 25px;
    width: 500px;
    height: 30px;
    margin-left: 20px;
}
.navbar {
    padding-top: 20px;
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav li {
    background-color: #999999;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #cc3333;
    color: white;
    font-weight: bold;
}
.navbar-nav > li {
    margin-left: 1px;
    color: white;
}
.navbar-nav li a {
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 40px;
    padding-right: 40px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: bold;
}

.footer
{
	background-color: #990000;
	 min-height: 30px;
	 color:white;
	 
bottom: 0px;
width:100%;
left:0;
}

.footer div
{
	padding-top:2px;

}

ul.books
{
	padding: 0;
    list-style-type: none;

}

.books li
{
	display: inline-block;
	padding-right: 30px;
}


.footer-headings  a
{
	color:#666666;
	font-size:18px;
	 max-width: 70px;
	 
	 display:block;
}

.footer-headings
{
	border-color:#cccccc;
	margin-top:20px;
	margin-bottom:20px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
	 border-style: solid;
	
}
ul.footer-links
{
	padding: 0;
    list-style-type: none;
}
.footer-links li
{
	list-style: none;
}
.footer-links li a
{
	color:#666666;
	font-size:12px;

}

.footer-social li
{
	
	padding-bottom:12px;

}

.carousel
{
	padding-top: 20px;
}

.book-image img
{
	padding-bottom:12px;
}

   .captionOrange, .captionBlack
        {
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            border-radius: 4px;
        }
        .captionOrange
        {
            background: #EB5100;
            background-color: rgba(235, 81, 0, 0.6);
        }
        .captionBlack
        {
            font-size:16px;
            background: #000;
            background-color: rgba(0, 0, 0, 0.4);
        }
        a.captionOrange, A.captionOrange:active, A.captionOrange:visited
        {
            color: #ffffff;
            text-decoration: none;
        }
        a.captionOrange:hover
        {
            color: #eb5100;
            text-decoration: underline;
            background-color: #eeeeee;
            background-color: rgba(238, 238, 238, 0.7);
        }



@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}
    
.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg 
    opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}           

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

    
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }       
}

.book-col
{
    padding-top:15px;
    padding-bottom:15px;
}

.book-text
{
    text-align:left;
}

.panel-body
{
    text-align:center;
}

.book-text
{
    padding-top:30px;
}

.book-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
    background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
    background-color:#9dce2c;
    -webkit-border-top-left-radius:15px;
    -moz-border-radius-topleft:15px;
    border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
    border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:15px;
    -moz-border-radius-bottomright:15px;
    border-bottom-right-radius:15px;
    -webkit-border-bottom-left-radius:15px;
    -moz-border-radius-bottomleft:15px;
    border-bottom-left-radius:15px;
    text-indent:0;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:33px;
    line-height:33px;
    width:110px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #689324;
}
.book-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
    background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
    background-color:#8cb82b;
}.book-button:active {
    position:relative;
    top:1px;
}

.book-button
{
    margin-top:15px;
}

.book-panel
{
    border-width:6px;
    border-color:#f0f0f0;
}