

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
    line-height: 300%;
}
    
.omb_login .omb_socialButtons a {
    color: white; // In yourUse @body-bg 
    opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
    opacity:1;      
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}           

.omb_login .omb_loginForm .input-group.i {
    width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

    
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
        margin-top:10px;
    }       
}

.book-col
{
    padding-top:15px;
    padding-bottom:15px;
}

.book-text
{
    text-align:left;
}

.panel-body
{
    text-align:center;
}

.book-text
{
    padding-top:30px;
}

.book-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    -webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
    background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
    background-color:#9dce2c;
    -webkit-border-top-left-radius:15px;
    -moz-border-radius-topleft:15px;
    border-top-left-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
    border-top-right-radius:15px;
    -webkit-border-bottom-right-radius:15px;
    -moz-border-radius-bottomright:15px;
    border-bottom-right-radius:15px;
    -webkit-border-bottom-left-radius:15px;
    -moz-border-radius-bottomleft:15px;
    border-bottom-left-radius:15px;
    text-indent:0;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height:33px;
    line-height:33px;
    width:110px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #689324;
}
.book-button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
    background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
    background-color:#8cb82b;
}.book-button:active {
    position:relative;
    top:1px;
}

.book-button
{
    margin-top:15px;
}

.book-panel
{
    border-width:6px;
    border-color:#f0f0f0;
}

.book-detail-image
{
    text-align:left;
}



.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.input-group
{
    width:100%;
}

.tab-pane
{
    margin-top:50px;
}

.book-detail-container
{
    margin-top:50px;
    padding-bottom:50px;


}


.available-on {
color: #00abee;
font-size: 24px;
margin-top: 50px;
clear: both;
}

ul#storeOptions .wp-image-1001 {
margin-left: -4px;
height: 41px;
}

ul#storeOptions li {
width: 168px;
height: 72px;
float: left;
margin-left: 0px;
}

ul#storeOptions {
list-style: none;
margin-top: 10px;
}

ul.sidebar-books
{
    padding-left: 0px;
    border-left-width:1px;
    border-left-color:lightgray;
    border-style: solid;
    border-right-width: 0px;
    border-top-width:0px;
    border-bottom-width:0px;

}
.sidebar-book
{
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    text-align:center;
    padding-left: 0px;
}

.like-header
{
    background-color: #34495e;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left:15px;

    border-radius: 5px;

}